<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwT7my4cPSQmL3Ur3lwhZr_dBWIX9xPdc</string>
	<key>GCM_SENDER_ID</key>
	<string>442386894936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.financeTracking</string>
	<key>PROJECT_ID</key>
	<string>finance-tracker-umuttopa-dc40a</string>
	<key>STORAGE_BUCKET</key>
	<string>finance-tracker-umuttopa-dc40a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442386894936:ios:a5205b0272386e16253a2d</string>
</dict>
</plist>